<!doctype html>
<html>
<head>
    <title>Profile</title>
    <%- include styles.ejs %>

</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>Your Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                    
                <% if (user.coins) { %>

                
                <form id="tableForm">
                     <h2>Coins You Have</h2>


                     

                     <table class = "prices">
                         <thead>
                            <tr>
                                <th>Coin</th>
                                <th>Qty</th>
                                <th><span class="yourCurrencyIs"><%= user.cur %></span> <span class="wide">Unit Price</span></th>
                                <th>Total</th>
                            </tr>
                         </thead>
                         <tbody class='coinsYouHave'> 
                            <!-- to be replaced by public/client.js -->                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Grand Total:</td>
                                <td class="grandTotal"></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
             </div>


                <div class="col-sm-6 well">

                <% if (user.cur) { 
                    const curs = ['usd', 'eur', 'cny'];
                    let cur;
                 %>
   
                 <form id="chooseCurrency">
                    <div class="form-group">
                        <h2>Show Prices In</h2>
                        <select class="cur form-control yourCurrencyIs"  name="cur" required>
                         <%
                            for (var i = 0; i < curs.length; i++){
                            cur = curs[i];
                         %>
                            <option 
                                value="<%= cur %>" 
                                <% if (cur === user.cur) { %> selected <%}%>   
                                >
                                <%= cur %> 
                            </option>         

                        <% } %>
                        </select>

                    </div>


                    <h4>Showing prices and totals in <span class="yourCurrencyIs"><%= user.cur %></span></h4>
                    <a href="#" class="refresh">Refresh Prices</a>
                <% } %>

                </form>


                <% } else { %>
                    <p>no user.coins</p>
                <% } %>
                <hr>
                <h4>Tree Map of Totals in Your Portfolio</h4>
                <div id="viz"></div> 
                </div>
                    
                    <div class="col-sm-6 well">
                    <form id="addForm">
                        <div class="form-group">
                            <h2>Add A Coin</h2>
                            <select class="coin form-control"  name="abrv" required>
                              <option class="addCoin">Choose Coin to Add or Update</option>
                              <option value="BTC">Bitcoin</option>
                              <option value="ETH">Ethereum</option>
                              <option value="DASH">DASH</option>
                              <option value="ZEC">ZCash</option>
                              <option value="LTC">LiteCoin</option>
                              <option value="DOGE">DogeCoin</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Most Recent Qty</label>
                            <input id="generalQtyInput" type="text" class="form-control" name="qty"  size="7" value="0" required>
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Add Coin or Update Qty</button>
                    </form>

                   </div>

                   <div class="col-sm-12"></div>
                        
                   

           
        </div>
     </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>


</div>

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
<%- include scripts.ejs %>


</body>
</html>
