<!doctype html>
<html>
<head>
    <title>Profile</title>
    <%- include styles.ejs %>

</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>Your Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                    
                <% if (user.coins) { %>

                
                <form id="tableForm">
                     <h2>Coins You Have</h2>


                     

                     <table class = "prices">
                         <thead>
                            <tr>
                                <th>Coin</th>
                                <th>Quantity</th>
                                <th><span class="yourCurrencyIs"><%= user.cur %></span> <span class="wide">Unit Price</span></th>
                                <th>Total</th>
                            </tr>
                         </thead>
                         <tbody class='coinsYouHave'> 
                            <!-- to be replaced by public/client.js -->                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Grand Total:</td>
                                <td class="grandTotal"></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
                <h4>Tree Map of Your Portfolio Totals</h4>
                <div id="viz"></div> 
             </div>
               <div class="col-sm-6 well">
                    <form id="addForm">
                        <div class="form-group">
                            <h2>Add A Coin</h2>
                            <select class="coin form-control"  name="abrv" required>
                              <option class="addCoin">Choose Coin to Add or Update</option>
                              <option value="BTC">Bitcoin - <span>BTC</span></option>
                              <option value="ETH">Ethereum - <span>ETH</span></option>
                              <option value="DASH">DASH - <span>(Formerly DarkCoin)</span></option>
                              <option value="ZEC">ZCash - <span>ZEC</span></option>
                              <option value="LTC">LiteCoin - <span>LTC</span></option>
                              <option value="DOGE">DogeCoin - <span>DOGE</span></option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Most Recent Quantity</label>
                            <input id="generalQtyInput" type="text" class="form-control" name="qty"  size="7" value="0" required>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg">Add Coin or Update Quantity</button>
                    </form>

                </div>

                <div class="col-sm-6 well">

                <% if (user.cur) { 
                    const curs = ['usd', 'eur', 'cny'];
                    let cur;
                 %>
   
                 <form id="chooseCurrency">
                    <div class="form-group">
                        <h2>Show Prices In</h2>
                        <select class="cur form-control yourCurrencyIs"  name="cur" required>
                         <%
                            for (var i = 0; i < curs.length; i++){
                            cur = curs[i];
                         %>
                            <option 
                                value="<%= cur %>" 
                                <% if (cur === user.cur) { %> selected <%}%>   
                                >
                                <%= cur %> 
                            </option>         
                        <% } %>
                        </select>
                    </div>
                    <button class="refresh btn btn-lg btn-info">Refresh Prices in <span class="yourCurrencyIs"><%= user.cur %></span></button>
                <% } %>
                </form>

                <% } else { %>
                    <p>no user.coins</p>
                <% } %>
             

                </div>
                    
        </div>
     </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Login Info</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>your database id</strong>: <%= user._id %><br>
                        <strong>your email</strong>: <%= user.local.email %><br>
                        <strong>your password (hashed)</strong>: <%= user.local.password %>
                    </p>
                    
                    <h4 class="danger">Unlink your email from this account.</h4>
                    <p>Similar to "Delete My Account", but does NOT delete your data from the database: just makes you loose access to the data. You will then be able to create another account with the same email.</p>
                    <a href="/unlink/local" class="btn btn-danger">Unlink  - Warning this cannot be undone</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>


</div>

    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
<%- include scripts.ejs %>


</body>
</html>
