<!doctype html>
<html>
<head>
    <title>Profile</title>
    <%- include styles.ejs %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h2>Your Crypto Portfolio</h2>
                    <a href="#" class="refresh">Refresh Prices</a>
                    <form id="addForm">
                        <div class="form-group">
                            <label>Add A Coin</label>
                            <select class="coin form-control"  name="abrv" required>
                              <option class="addCoin">Choose Coin to Add</option>
                              <option value="BTC">Bitcoin</option>
                              <option value="ETH">Ethereum</option>
                              <option value="DASH">DASH</option>
                              <option value="ZEC">ZCash</option>
                              <option value="LTC">LiteCoin</option>
                              <option value="DOGE">DogeCoin</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Qty you have</label>
                            <input type="number" class="form-control" name="qty"  size="7" value="0" required>
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Add Coin</button>
                    </form>

                    <hr>

                 <% if (user.coins) { %>
                 <h3>Coins You Have</h3>
                 <table>
                     <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Qty</th>
                            <th>USD</th>
                            <th>EUR</th>
                            <th>CNY</th>
                            <th>Total</th>
                        </tr>
                     </thead>
                     <tbody class='coinsYouHave'> 
                        <% Object.keys(user.coins.toObject()).forEach(function(coin){ %>
                            <% if (Object.prototype.hasOwnProperty.call(user.coins, coin)) {%>
                          <tr class=<%= coin %>>
                            <td class='abrv'><%= coin %></td>
                            <td class='qty'><%= user.coins[coin] %></td>
                            <td class='usd'>USD</td>
                            <td class='eur'>EUR</td>
                            <td class='cny'>CNY</td>
                            <td class='total'>TBA</td>
                          </tr>
                          <% } %>
                        <% }); %>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <% } else { %>
                    <p>no user.coins</p>
                <% } %>

            </div>
        </div>
    </div>    
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="text-center">
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div>
<!-- insert a script partial -->
<%- include scripts.ejs %>
</body>
</html>
